#calendar_container {
    width: 100%;
    color: blue;
    height: 200px;
    padding: 0;
    margin: 0;
}

#calendar_header {
    border-bottom: solid 1px black;
}

.calendar_day_label {
    display: inline-block;
    width: 14.27%;
    border: solid 1px black;
    text-align: center;
    padding: 0;
    margin: 0;
    color: black;
    background-color: #afabab;
}

.calendar_day {
    display: inline-block;
    width: 14.27%;
    border: solid 1px black;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    background-color: #c0c0c0;
    color: #595959;
    height: 30px;
}
.calendar_disable_day {
    background-color: #c0c0c0;
    color: #595959;
}
.calendar_enable_day {
    background-color: #afabab;
    color: black;
}
.calendar_enable_day:hover {
    background-color: #595959;
    color: white;
}
.calendar_active_day {
    background-color: #595959;
    color: white;
}